{$C_BLOCK_H_L}
<!-- BEGIN title_block -->
{title_block.TITLE_BLOCK}
<!-- END title_block -->
{$C_BLOCK_H_R}
	<div class="panel bg1 portal-no-margin">
	<div class="inner">
		<table class="panel bg1 portal-no-margin">
		<tbody>
		<thead>
		<tr>
			<th width="5%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_AVATAR}</th>
			<th width="5%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_NAME}</th>
			<th width="10%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_POSTS}</th>
			<th width="15%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_DATE}</th>
			<th width="15%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_VISIT}</th>
			<th width="50%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_COMMENT}</th>
		</thead>
	<!-- BEGIN arhive -->
			<tr class="<!-- IF row.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive.AVATAR}</td>
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive.NAME}</td>
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive.POSTS}</td>
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive.DATE}</td>
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive.VISIT}</td>
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive.COMMENT}</td>
			</tr>
	<!-- END arhive -->
		</tbody>
		</table>
<hr class="dashed" />
<center><font color="green"><b>
{L_TEXT_YOU_WINNER}<br />
<a href="{U_MY_TEST_CENTER}">{L_ABOUT_ACTIVEUSER}</a>
</b></font></center>
	</div>
	</div>
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
