{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->
<!-- BEGIN title_block2 -->
{title_block2.TITLE_BLOCK2}
<!-- END title_block2 -->
{$LR_BLOCK_H_R}
		<table class="bg1">
		<tbody>
		<thead>
		<tr>
			<th width="10%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_AVATAR}</th>
			<th width="20%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_NAME}</th>
			<th width="10%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_POSTS}</th>
			<th width="60%" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{L_COMMENT}</th>
		</thead>
	<!-- BEGIN arhive2 -->
			<tr class="<!-- IF row.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive2.AVATAR}</td>
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive2.NAME}</td>
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive2.POSTS}</td>
				<td style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;"margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: middle;text-align: center;>{arhive2.COMMENT}</td>
			</tr>
	<!-- END arhive2 -->
		</tbody>
		</table>
<hr class="dashed" />
<center><font color="green"><b>
{L_TEXT_YOU_WINNER}<br />
<a href="{U_MY_TEST_SIDE}">{L_ABOUT_ACTIVEUSER}</a>
</b></font></center>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
